@font-face {
  font-family: 'GelionLight';
  src: url('./font/Gelion-Light.ttf');
}

@font-face {
  font-family: 'GelionMedium';
  src: url('./font/Gelion-Medium.ttf');
}

body {
  margin: 0;
  font-family: 'GelionMedium';
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0px;
  padding: 0px;
}


p {
  font-family: 'GelionLight';
}

li {
  font-family: 'GelionLight';
}